html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
[hidden] {
  /* Resolves issue with Angular setting hidden property (which sets display: none)
      but display gets overridden by another display (display: flex, for example)*/
  display: none !important;
}