@import "color";

// Fonts
$primary-heading-font: 'Bree Serif', serif;
$primary-text-font: 'Open Sans', serif;
$base-font-size: 14px;
$base-font-color: #222;

// Responsiveness
$media-sm: 30em;
$media-md: 50em;
$media-lg: 72em;
$navbar-collapse: 54em;
