@import 'base/variables';
@import 'util/mixins';

.app-login-btn {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1rem;
	z-index: 1000;

	button {
		display: flex;
		height: 3rem;
		padding: .5rem;
		background: $color-primary-900;
		color: #fff;
		border-radius: 2px;

		i {
			font-size: 2rem;
			width: 2rem;
		}
		div {
			height: 2rem;
			line-height: 2rem;
			padding: 0 .5rem;
			text-transform: uppercase;
    		letter-spacing: 1px;
		}
	}
}

.app-menu {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1rem;
	z-index: 1000;
}
.app-menu-btn {
	background: $color-primary-900;
	padding: .5rem;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	//@include card(1);

	i {
		vertical-align: middle;
	}
}
.app-menu-list {
	display: flex;
	flex-direction: row;
	min-height: 50vh;
	@include card(1);

	nav {
		width: 22rem;
		background: $color-primary-50;
		padding: .5rem;

		a {
			display: flex;
			text-decoration: none;
			color: $color-primary-900;
			height: 3rem;
			padding: .5rem;
			margin-bottom: .5rem;

			&:hover {
				background: $color-primary-100;
				border-radius: 4px;

				div {
					text-decoration: underline;
				}
			}

			i {
				font-size: 2rem;
				height: 2rem;
				width: 2rem;
				margin-right: 1rem;
			}
			div {
				flex: 1;
				line-height: 2rem;
				font-weight: 600;
			}
		}
	}
	.settings {
		display: flex;
		flex-direction: column;
		width: 14rem;
		padding: .5rem;
		background: $color-primary-900;
		color: #fff;

		button {
			color: #fff;
		}
		&> div {
			width: 100%;
		}
		.top {
			.close-menu {
				text-align: right;

				button {
					display: inline-block;
					color: $color-primary-700;

					&:hover {
						color: $color-primary-50;
					}
					i {
						margin: .5rem;
					}
				}
			}
		}
		.bottom {
			align-self: flex-end;
			margin-top: auto;

			button {
				display: flex;
				height: 2.5rem;
				padding: .5rem;
				margin-top: .5rem;
				width: 100%;
				text-align: left;

				&:hover {
					background: $color-primary-800;
					border-radius: 4px;

					div {
						text-decoration: underline;
					}
				}

				i {
					font-size: 1.5rem;
					height: 1.5rem;
					width: 1.5rem;
					margin-right: 1rem;
				}
				div {
					flex: 1;
					line-height: 1.5rem;
				}
			}
		}
	}
}