<div class="app-login-btn" *ngIf="!isLoggedIn">
  <button (click)="login()">
    <i class="material-icons">account_box</i>
    <div>Login</div>
  </button>
</div>
<div class="app-menu" *ngIf="isLoggedIn">
  <button class="app-menu-btn" (click)="expanded=!expanded" *ngIf="!expanded">
    <i class="material-icons">apps</i>
  </button>
  <div class="app-menu-list" *ngIf="expanded" (clickOutside)="close($event)">
    <nav>
      <a *ngFor="let item of menu" [routerLink]="item.location" routerLinkActive="active" (click)="close()">
        <i class="material-icons">{{item.icon}}</i>
        <div>{{item.title}}</div>
      </a>
    </nav>
    <div class="settings">
      <div class="top">
        <div class="close-menu">
          <button (click)="expanded=!expanded">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
      <div class="bottom">
        <button>
          <i class="material-icons">settings</i>
          <div>Settings</div>
        </button>
        <button (click)="logout()">
          <i class="material-icons">exit_to_app</i>
          <div>Logout</div>
        </button>
      </div>
    </div>
  </div>
</div>
