.cf:after {
  content: "";
  display: table;
  clear: both; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

[hidden] {
  /* Resolves issue with Angular setting hidden property (which sets display: none)
      but display gets overridden by another display (display: flex, for example)*/
  display: none !important; }

html {
  font-family: "Open Sans", serif;
  font-size: 14px;
  color: #222; }

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Open Sans", serif; }
