<h1>Login/Logout Page</h1>
<button *ngIf="!isLoggedIn" class="nav-link" (click)="login()" routerLinkActive="active">Login</button>
<button *ngIf="isLoggedIn" class="nav-link" (click)="logout()">Logout</button>
