<div class="app-wrapper">

  <div class="view-wrapper">
    <router-outlet></router-outlet>
  </div>

  <app-menu></app-menu>

</div>


<!-- Welcome to {{title}}! -->


<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul> -->